<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{priceCardData.Type}}</h5>
      <h6 class="card-price text-center">{{priceCardData.Price}}<span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{priceCardData.User}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{priceCardData.Storage}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{priceCardData.PublicAccess}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{priceCardData.Community}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{priceCardData.PrivateAccess}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{priceCardData.Support}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{priceCardData.Domain}}
        </li>     
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{priceCardData.Report}}</li>
      </ul>     
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Button</a>
      </div>
    </div>
  </div>
